@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
#menu-1 .navbar-toggler {
  color: #000;
}
#menu-1 .nav-link {
  font-size: 20px;
}
#header1-0 H1 {
  font-size: 100px;
}
#menu-a .navbar-toggler {
  color: #000;
}
#menu-a .nav-link {
  font-size: 20px;
}
#menu-d .navbar-toggler {
  color: #000;
}
#menu-d .nav-link {
  font-size: 20px;
}
#content5-f P {
  text-align: left;
}

#menu-g .navbar-toggler {
  color: #000;
}
#menu-g .nav-link {
  font-size: 20px;
}
#testimonials1-w .card-block P {
  font-size: 18px;
}
#contacts1-11 B {
  font-size: 16px;
  font-family: 'Playfair Display', sans-serif;
}
#contacts1-11 STRONG {
  font-size: 18px;
}
#contacts1-11 P {
  font-size: 18px;
  text-align: left;
}
#menu-k .navbar-toggler {
  color: #000;
}
#menu-k .nav-link {
  font-size: 20px;
}
#social-buttons1-m .mbr-section-title {
  font-size: 30px;
}
#instagram-feed-block-n .inst__title {
  font-size: 30px;
}
#menu-o .navbar-toggler {
  color: #000;
}
#menu-o .nav-link {
  font-size: 20px;
}
#msg-box4-17 .mbr-section-title {
  font-size: 32px;
}
#content5-1e P {
  text-align: left;
}
#content5-1f DIV {
  text-align: left;
}
#menu-1g .navbar-toggler {
  color: #000;
}
#menu-1g .nav-link {
  font-size: 20px;
}
#slider-1i H2 {
  color: #dddddd;
  text-align: left;
}
#msg-box5-1l .mbr-section-title {
  font-size: 32px;
}
#msg-box5-1l .lead P {
  color: #000000;
}
#menu-1m .navbar-toggler {
  color: #000;
}
#menu-1m .nav-link {
  font-size: 20px;
}
